@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        font-family: Poppins, system-ui, sans-serif;
    }

    .icon-white {
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(136deg) brightness(200%) contrast(100%);
    }
}
/* 
.shorten {
    background: url("./images/bg-shorten-mobile.svg");
}

@media screen and (min-width: 600px) {
    .shorten {
        background: url("./images/bg-shorten-desktop.svg");
    }
} */